@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Space Grotesk";
}
.front-card{
  background: url(./imagess/bg-card-front.png) no-repeat center/cover;
 
  height: 230px;
  width: 320px;
  border-radius: 20px;
}
.back-card{
  background: url(./imagess/bg-card-back.png) no-repeat center/cover;
 
  height: 230px;
  width: 320px;
  border-radius: 20px;
}
form label {
  @apply block uppercase tracking-wider text-slate-800 mb-2 text-sm;

}
form input{
  @apply border-2 border-slate-200 py-3 px-4 rounded outline-none w-full;
}
.btn{
  background-color: hsl(278, 68%, 11%) ;
  @apply py-3 px-6 rounded shadow text-white text-base tracking-wide lg:text-lg;
}





@media(min-width:1024px){
  .front-card {
    height: 300px;
    width: 500px;
    border-radius: 20px;
  }
  .back-card{
    height: 300px;
    width: 500px;
    border-radius: 20px;
  }
}

@media(min-width:750px){
  .back-card{
    margin-top: 30px;
  }
  .rside{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media(min-width:450px){
  .back-card{
    margin-top: 15px;
  }
  .rside{
    padding: 10px;
  }
}
@media(min-width:350px){
  .back-card{
    margin-top: 15px;
  }
  .rside{
    padding:10px;
  }
}

